MONGO_URI=
JWT_SECRET=
PORT=5001

# Brevo Email Configuration
BREVO_USER=
BREVO_SMTP_KEY=

# Frontend & Backend URLs
FRONTEND_URL=
BACKEND_URL=

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Gemini AI Configuration
GEMINI_API_KEY=

# eSewa Configuration (Sandbox)
ESEWA_MERCHANT_CODE=EPAYTEST
ESEWA_SECRET_KEY=
ESEWA_GATEWAY_URL=https://rc-epay.esewa.com.np/api/epay/main/v2/form
ESEWA_VERIFY_URL=https://rc-epay.esewa.com.np/api/epay/transaction/status/
